#hello{
    background-color: #4BD39B;
    border: 15px solid #BCBCBC ;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#uno{
    font-size: 3em ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    padding: auto;
    background: #4BD39B;
    border-radius: 30px;
}
